<!-- <p>page-not-found works!</p>
<h1>404</h1> -->

<div class="not-found-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="not-found">
            <div class="not-f">
              404
            </div>
            <div class="not-f-desk">
              <h1>page not found !</h1>
            </div>
            <div class="btn-back">
              <button routerLink="/"> Kembali</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
